.github/
.cache/
.vscode/
.idea/
build/
.clang-format
.clangd
.drawio
*.excalidraw*
CMakeUserPresets.json
TODO.md
resources/models/mercedes.fbx
resources/models/Skull.obj
resources/models/Skull.mtl
resources/models/Skull.jpg
resources/models/cottage.fbx
resources/models/table.blend